@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:500i');

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
/* body{
    background-color: blue;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }*/
  main{
    background-color: #FFD6DA;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  header{
      width: 80%;
      height: auto;
      background-color: #E1F7E7;
      margin: 0 auto;
      text-align: center;
  }

  footer {
      font-family: 'Lobster', cursive;
      font-size: 20px;
      width: 80%;
      height: auto;
      background-color: #E1F7E7;
      margin: 0 auto;
      margin-top: -20px;
  }
  #maintitle{
    font-family: 'Lobster', cursive;
    color: #789CCE;
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: inherit;
  }
  .imagelink {
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
    margin-top: -7px;
    font-size: 10px;
    margin-bottom: -1px;
  }
  .sectiontitle {
    font-family: 'Lobster', cursive;
    background-color: #789CCE;
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    width: 100px;
  }
  .imageGallery {

  }
  #sect1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #D1EAF5;
    margin-top: -30px;
    margin-bottom: 10px;
  }
  #facegrid1{
    width: 600px;
    margin: 0 auto;
    /* background-color: green; */
      display: grid;

      grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr;

     /*
      grid-template-row: 1fr;
      grid-template-columns: 1fr 1fr;
      */


  }
  #facegrid2{
    width: auto;
    height: auto;
    margin: 0 auto;
  /*  background-color: gold;*/

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      padding-left: 10px;
      padding-right: 10px;

      /*
      grid-template-row: 1fr; 1fr;
      grid-tempate-colums: 1fr 1fr 1fr 1fr;
      */
      margin-bottom: 20px;
      font-family: 'Patrick Hand', cursive;

  }
  #sect2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #D1EAF5;
    margin-bottom: 10px;
  }
  #eyesgrid1{
    width: 600px;
    margin: 0 auto;
  /*  background-color: green; */
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      /*
      grid-template-row: 1fr;
      grid-template-columns: 1fr 1fr;
      */
  }
  #eyesgrid2{
    width: auto;
    height: auto;
    margin: 0 auto;
  /*  background-color: gold; */

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      padding-left: 10px;
      padding-right: 10px;

      /*
      grid-template-row: 1fr; 1fr;
      grid-tempate-colums: 1fr 1fr 1fr 1fr;
      */
      margin-bottom: 20px;
      font-family: 'Patrick Hand', cursive;
  }
  #sect3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #D1EAF5;
  /*  margin-bottom: 10px; */
  }
  #lipsgrid1{
    width: 600px;
    margin: 0 auto;
    /* background-color: green; */
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
       /*
      grid-template-row: 1fr;
      grid-template-columns: 1fr 1fr;
      */
  }
  #lipsgrid2{
    width: auto;
    height: auto;
    margin: 0 auto;
  /*  background-color: gold;*/

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      padding-left: 10px;
      padding-right: 10px;

      /*
      grid-template-row: 1fr; 1fr;
      grid-tempate-colums: 1fr 1fr 1fr 1fr;
      */
    /*  margin-bottom: 20px; */
      font-family: 'Patrick Hand', cursive;
  }

  nav{
    width: 500px;
    height: 50px;
    background-color: #E1F7E7;
    margin: 0 auto;
  }

  nav ul{
    margin-left: -30px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 100px; */
    text-align: center;
    margin-right: 20px;
  }
  nav ul li a{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: #C3D6F2;
    font-size: 30px;

  }
  nav ul li a:hover{
    background-color: #FFD6DA;
  }
