@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:500i');
body{
  background-color: white;
}
#name{
  color: white;
  background-color: DarkTurquoise;
  font-family: 'Playfair Display', serif;
}
h2{
  background-color: MediumTurquoise;
  color: White;
  font-family: 'Playfair Display', serif;
}
.heading3{
  color: Black;
  background-color: PaleTurquoise;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
a{
  color: Teal;
  text-decoration: none;
  font-size: 19px;
}
a:hover{
  background-color: LightSkyBlue;
}

#add{
  color: Teal;
  font-family: 'Raleway', sans-serif;
}

.specialFont{
  font-family: 'Raleway', sans-serif;
}
.Activities{
  color: teal;
  font-family: 'Raleway', sans-serif;
}
#curvesnwaves{
  color:Black;
  font-size: 19px;
}
#companywebsite{
  color: Teal;

}
.black{
  color:black;
}

ul li{
  list-style: circle;
}
li{
  color: Teal;
}
h4{
font-family: 'Raleway';
font-style: italic;;
}

#img_3315{
          border:3px solid Aqua;
          }
#table{
  color: Teal;
}

#mynameis{
  color: teal;
}
#Contactme{
  font-family: 'Raleway', sans-serif;
  font-size: 16px
}
